body {
  all: unset;
  color: #212121;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;  
}

.main {
    display: flex;
    justify-content: center;
    height: 100vh; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
