body {
  all: unset;
  color: #212121;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;  
}

.main {
    display: flex;
    justify-content: center;
    height: 100vh; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.text {
    padding: 0.4em;
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: inherit;
}
